@charset "utf-8";
/* CSS Document */

body {
	background-color:#E8E8E8;
	color: #000305;
	font-size: 87.5%;/* Base font size: 14px */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 70%;
}
	


/* estilo para as hiperligaçoes */
a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	color: #43CD80;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #43CD80;
	color: #fff;
	text-decoration: none;
}

/* cabecalho */
   
.cabecalho nav {
	background: #666;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.cabecalho nav ul {
	list-style: none; 
	margin: 0 auto;
}

.cabecalho nav ul li {
	float: left; 
	display: inline; 
}
	
.cabecalho nav a:link, .cabecalho nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.cabecalho nav a:hover, .cabecalho nav a:active,
.cabecalho nav .active a:link, .cabecalho nav .active a:visited {
	background: #43CD80;
	color: #fff;
	text-shadow: none;
}
	
.cabecalho nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.cabecalho img {
	width: 30%;
	height: auto;
	margin: 3% 0;
}

/* area de apresentação */

.main {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.artigo {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;	
	margin-bottom: 3%;
}



.conteudo {
	width: 68%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}



/* asside */

.top {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.fim {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}



/* footer */

.Footer {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;	
}

.Footer p {
	width: 91%;
	margin: 2% auto;
}




/*  Media Queries  */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.body {
		clear: both; 
		margin: 0 auto; 
		width: 90%;
		font-size: 90%;
	}
	
	.cabecalho nav {
		background: #666;
		font-size: 1.143em;
		height: 160px;
		line-height: 30px;
		margin-bottom: 0;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
		
	.cabecalho nav ul {
		list-style: none; 
		margin: 0 auto;
		padding-left: 0;
	}
	
	.cabecalho nav li {
		margin-left: 0 auto;
		width: 100%;
	}
	
	.cabecalho nav a:link, .cabecalho nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}
	
	.cabecalho nav a:active,
	.cabecalho nav .active a:link, .cabecalho nav .active a:visited {
		background: #43CD80;
		color: #fff;
		text-shadow: none !important;
	}
		
	.cabecalho nav li a {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
			
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.cabecalho img {
		width: 100%;
		height: auto;
		margin-bottom: 3%;
	}
	
	.main {
		overflow: hidden;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;
	}
	
	.artigo {
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		padding: 2% 5%;
		margin-bottom: 4%;
	}
	

	
	.conteudo {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
	}	

	
	
	.top {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;		
	}
	
	.top p {
		width: 90%;
	}

	.meio {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;	
	}
	
	.meio p {
		width: 90%;
	}
	

	
	
		
	.Footer {
		width: 100%;
		float: left;
		margin: 2% 0;
		padding-left: 0;
		background-color: #666;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		color: #FFF;	
	}
	
	.Footer p {
		width: 86%;
		margin: 2% auto;
	}
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 250px;
	 }
	 
	 video {
    width: 100%;
    height: auto;
	 }


